*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;
}
body{
    width: 100%;
    height: 100%;
    background: linear-gradient(325deg,  #03001e 0%,#7303c0 30%,#ec38bc 70%, #fdeff9 100%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-height: 50vh;
}
.container{
    max-width: 1040px;
    margin: 0 auto;
}
.navbar{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;

}
li{
    padding: 0 20px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 20px;
    box-shadow: 20px rgba(0, 0, 0, 0.2);
    
}
li a{
    font-size: 20px;
    color: #ffffff;
    text-transform: capitalize;
    padding: 5px;
    border-radius: 5px;
}

.swiper{
    margin-top: 40px;
}
.swiper-slide {
    margin-bottom: 50px;
    background-color: #ffffff;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    height: 420px;
    width: 295px;
    position: relative;
}
.swiper-slide img {
    width: 295px;
    height: 420px;
    border-radius: 15px;
}
.swiper-txt {
    position: absolute;
    padding: 25px;
}
.swiper-txt h3 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #ffffff;
}
.desktop {
    text-align: center;
    z-index: 1;
}
.desktop img {
    width: 700px;
}
.footer-txt {
    text-align: center;
    padding: 25px;
    background-color: #000000;
    color: #ffffff;
}
@media(max-width:991px) {
    .navbar{
        padding: 30px;
    }
    .left{
        display: none;
    }
    .swiper {
        padding: 0 70px;
    }
    .swiper-slide img {
        width: 100%;
    }
    .desktop {
        padding: 30px;
    }
    .desktop img {
        width: 100%;
    }
    .footer {
        padding: 30px;
    }
}